extends layout

block content
    h1= title
    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="", method="post", role="form")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="customerName") Customer Name
                    .col-xs-12.col-sm-10
                        input#name.form-control(name="customerName")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="emailid") Email Id
                    .col-xs-12.col-sm-10
                        input#name.form-control(name="emailid")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="appointmentDate") appointmentDate
                    .col-xs-12.col-sm-10
                        input#name.form-control(name="appointmentDate")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="contactNo") contactNo
                    .col-xs-12.col-sm-10
                        input#name.form-control(name="contactNo")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="treatment") treatment
                    .col-xs-12.col-sm-10
                        input#name.form-control(name="treatment")
                button.btn.btn-default.pull-right Add my Appointment
        .col-xs-12.col-md-4