extends layout

block content
  br
  br
  h1(style='text-align:center;') List of appointment
  
  br
  br
  br
  ol
    each appointment in appointments
        li.list 
            a(href=`/appointments/${appointment._id}`) #{appointment.customerName} : #{appointment.appointmentDate}
  p
    a(href=`/new`)  ADD NEW
  

